@font-face
{
    font-family: "Titillium";
    src: url("../fonts/TitilliumWeb-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: "Titillium";
    src: url("../fonts/TitilliumWeb-Bold.ttf") format("opentype");
    font-weight: bold;
    font-style: normal;
}

@font-face
{
    font-family: "Titillium";
    src: url("../fonts/TitilliumWeb-Italic.ttf") format("opentype");
    font-weight: normal;
    font-style: italic;
}

@font-face
{
    font-family: "Titillium";
    src: url("../fonts/TitilliumWeb-BoldItalic.ttf") format("opentype");
    font-weight: bold;
    font-style: italic;
}


@font-face
{
    font-family: "ZenDots";
    src: url("../fonts/ZenDots-Regular.ttf") format("opentype");
    font-weight: normal;
    font-style: normal;
}